    <div class='jumbotron jumbotron-fluid footer'>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4">
            <h2>Contact</h2>
            <p class="email"><a href="mailto:admin@mowercorner.com.au"><i class="fa fa-envelope"></i> Email us</a></p>
            <p class="phone"><a href="tel:03 5231 6466"><i class="fa fa-phone"></i>  03 5231 6466</a></p>
            <p class="address"><i class="fa fa-location-arrow"></i> 14 Skene St Colac VIC AU 3250</p>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <h2>Opening hours</h2>
            <ul>
              <li>Mon-Fri 8.30am - 5pm</li>
              <li>Sat 9am - 12noon</li>
            </ul>
          </div>
          <div class="col-12 col-md-4 cc">
            <h2>We accept</h2>
            <i class="fa fa-cc-visa fa-2"></i>
            <i class="fa fa-cc-mastercard fa-2"></i>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end">
              <p><a href="/terms-and-conditions">Terms &amp; Conditions</a><p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col map">
              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.457973033522!2d143.5799587162439!3d-38.33838087966068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad30f6d992ea41d%3A0xfc6febaead0e21b!2s14+Skene+St%2C+Colac+VIC+3250!5e0!3m2!1sen!2sau!4v1499493617123" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col"><small><a href="https://zackdesign.biz">Site by Zack Design</a></small></div>
        </div>
      </div>
    </div>
