<!DOCTYPE html>
<html lang="en">
  <head>
    {% include styles.html %}
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid header">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
            <p class="phone"><a href="tel:03 5231 6466"><i class="fa fa-phone"></i>  03 5231 6466</a></p>
          </div>
          <div class="col-2">
            <a href="https://www.facebook.com/mower.corner/" target="_blank"><i class="fa fa-facebook-official fa-5"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
        <li data-target="#carouselIndicators" data-slide-to="4"></li>
        <li data-target="#carouselIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6504.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>All makes &amp; models serviced!</h2>
            <h2>Pick-up and delivery is also available.</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6513.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>All makes &amp; models serviced!</h2>
            <h2>Pick-up and delivery is also available.</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6510.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>All makes &amp; models serviced!</h2>
            <h2>Pick-up and delivery is also available.</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6522.jpg" alt="Fourth slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>All makes &amp; models serviced!</h2>
            <h2>Pick-up and delivery is also available.</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6523.jpg" alt="Fifth slide">
          <div class="carousel-caption d-none d-md-block">
            <h2>All makes &amp; models serviced!</h2>
            <h2>Pick-up and delivery is also available.</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/ar_1.8,c_crop,f_auto,q_auto/v1500944801/mowercorner%20slideshow/DSCF6531.jpg" alt="Sixth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container supplier-logos">
      <h2>Suppliers</h2>
      <div class="row">
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.atomindustries.com/"><img alt="Atom" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499951111/mowercorner%20logos/8c61a5_40385927ef034418940627866eae7355_mv2.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.grilloagrigarden.com.au/"><img alt="Grillo" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950914/mowercorner%20logos/grillo_spa.jpg"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.cubcadet.com.au/"><img alt="Cub Cadet" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_120/v1499950836/mowercorner%20logos/logo.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.spitwater.com.au/"><img alt="Spitwater" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950988/mowercorner%20logos/logo_new_1438239421__48126.jpg"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://coxmowers.com.au/"><img alt="Cox Mowers" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950325/mowercorner%20logos/LOGO-Aust-Mowers.jpg"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.peerlessproducts.com.au/"><img alt="Peerless" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_130/v1499950969/mowercorner%20logos/peerless-logo.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://therazorback.com.au/"><img alt="Razorback" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950938/mowercorner%20logos/razorback_logo.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.rover.com.au/"><img alt="Rover" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950405/mowercorner%20logos/sitelogo.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.stihl.com.au/"><img alt="Stihl" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950245/mowercorner%20logos/stihl_print_logo.gif"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.toro.com.au/"><img alt="Toro" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_70/v1499951727/mowercorner%20logos/photo.png"></a></div>
        <div class="col-3 col-sm-3 col-md-2"><a target="_blank" href="https://www.victa.com/"><img alt="Victa" class="img-fluid" src="https://res.cloudinary.com/dux48uumi/image/upload/q_auto,f_auto,c_scale,w_100/v1499950777/mowercorner%20logos/victa_logo_header.png"></a></div>
      </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
